/* styles.css */

@import url(https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);



/* VARIAVEIS */
:root {
    --primary-color: #493eda;
    --color-grey: #999999;
    --color-black: #252525;
    --color-white: #fff;
    --color-shadow-white: rgba (0, 0, 0, 0.1);
    --color-shadow-white: rgba (255, 255, 255, 0.1);
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Overpass', sans-serif;
}

/* RESET PADRÃO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
    margin-bottom: 1rem;
}

/* CLASSES PRÉC.CONFIG */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-primary {
    color: var(--primary-color);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.btn {
    display: inline-block;
    max-width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.btn-primary:hover {
    background-color: #262075;
}

.btn-secondary {
    border: 1px solid var(--primary-color);
}

.btn-secondary:hover {
    background-color: var(--primary-color);
    color: var(--color-white);
}

.section-subheading {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.section-heading {
    font-size: 3rem;
    max-width: 600px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.section-heading.left {
    margin-right: auto;
}

.section-heading.right {
    margin-left: auto;
}


/* ESTILO GLOBAL */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    color: var(--color-black);
    background-color: whitesmoke;
}

section {
    position: relative;
    padding-top: 8rem !important;
    padding-bottom: 5rem !important;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-black);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #262075;
}

/* Estilos para o botão do WhatsApp */
.whatsapp-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

/* Estilo para o botão "Voltar ao Topo" */
.back-to-top {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: VAR(--primary-color);
    color: var(--color-black);
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    display: none;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-button a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgb(37, 211, 102);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 0 10px rgba(37, 211, 102, 0.9);
    color: var(--color-black);
    font-size: 24px;
    text-decoration: none;
}

/* HEADER */
header {
    padding: 1rem 0;
    width: 100%;
    position: absolute;
    z-index: 999;
}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(80, 80, 80, 0.4);
}

.header__logo a {
    outline: none;
    border: none;
}

.header__logo img {
    width: 150px;
}

.header__menu {
    gap: 1rem;
}

.header__menu li a {
    font-size: 0.8rem;
    font-weight: 500;
    transition: color 0.3s;
}

.header__menu li a:hover {
    color: var(--primary-color);
}

.header__menu li a.active {
    color: var(--primary-color);
    font-weight: bold;
}

header .right {
    gap: 1rem;
}

.menu-btn {
    display: none;
    cursor: pointer;
    z-index: 99;
    font-size: 1.2rem;
    cursor: pointer;
}

.menu-btn span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: var(--color-white);
    transition: all 0.4s ease-in-out;
}

.menu-btn.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.open span:nth-child(2) {
    opacity: 0;
}

.menu-btn.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


.produtos {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
}

/* INICIO */
#particles-js {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#hero {
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

.hero__content {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
}

.hero__content p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.hero__img {
    width: 50%;
    display: flex;
    justify-content: end;
}

/* SOBRE */
.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.feature {
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid #ccc;
    text-align: center;
    animation: fadeInUp 0.8s ease-out;
}

.feature__counter {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.feature__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.feature__text {
    font-size: 0.9rem;
}

.about__details {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.about__details-content {
    width: 50%;
}

.about__details-content h1 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about__details-content p {
    font-size: 0.9rem;
    font-weight: 400;
}

.about__details-content .btn {
    margin-top: 1rem;
}

.about__details-img {
    width: 50%;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.YezzySlide {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.YezzySlide img {
    width: 100%; 
}

.yeezyboost350v2zebra {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.yeezyboost350v2zebra img {
    width: 100%; 
}

.yeezyboost350v2preto {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.yeezyboost350v2preto img {
    width: 100%; 
}

.yeezyslideglowgreen {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.yeezyslideglowgreen img {
    width: 100%; 
}

.yeezyboost350v2cinza {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.yeezyboost350v2cinza img {
    width: 100%; 
}

.yeezyslideblue {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.yeezyslideblue img {
    width: 60%; 
}

.yeezyboost500C {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.yeezyboost500C img {
    width: 100%; 
}

.yeezyboost500R {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.yeezyboost500R img {
    width: 100%; 
}

.dunklowspvarsityroyalkentucky {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.dunklowspvarsityroyalkentucky img {
    width: 100%; 
}

.dunklowspsyracuse {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.dunklowspsyracuse img {
    width: 65%; 
}

.nikedunklowusc {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.nikedunklowusc img {
    width: 110%; 
}

.Dunkblue {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.Dunkblue img {
    width: 100%; 
}

.DunkspLbsterlaranja {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.DunkspLbsterlaranja img {
    width: 70%; 
}

.DunkSBmummy {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.DunkSBmummy img {
    width: 100%; 
}


.DunkLowRetroPRMValentinesDay{
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 50px;
}

.DunkLowRetroPRMValentinesDay img {
    width: 100%; 
}

.DunkAmarelo {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.DunkAmarelo img {
    width: 100%; 
}

.NikeDunkLowCollegeNavyGrey {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.NikeDunkLowCollegeNavyGrey img {
    width: 100%; 
}

.NIKEDUNKLOWPANDABLACKWHITE {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.NIKEDUNKLOWPANDABLACKWHITE img {
    width: 100%; 
}

.NikeSBDunkLowWhatThePRod {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.NikeSBDunkLowWhatThePRod img {
    width: 100%; 
}

.NikeDunkLowReversePandaPeon {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.NikeDunkLowReversePandaPeon img {
    width: 100%; 
}

.NikeSBDunkLowFreddyKrueger {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.NikeSBDunkLowFreddyKrueger img {
    width: 100%; 
}

.nikesbdunklowthepowerpuffgirlsblossom {
    height: 10%;
    width: 20%; 
    padding: 10px;
    margin: 110px;
    border: 1px solid #ddd; 
    text-align: center;
    border-radius: 50px;
}

.nikesbdunklowthepowerpuffgirlsblossom img {
    width: 100%; 
}

.nome,.preco{
    color: #fff;
}

/* CONTATO */
.contact {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.contact__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__form input,
.contact__form textarea {
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: var(--color-white);
    box-shadow: 0 0 10px rgba(80, 80, 80, 0.4);
}

.contact__form textarea {
    resize: vertical;
}

.contact__details {
    width: 50%;
}

.contact__details .text {
    font-size: 0.9rem;
    color: var(--color-grey);
    margin-bottom: 2rem;
}

.contact__details .details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact__details .detail {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.detail__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 0.8rem;
    background: var(--primary-color);
}

.detail__content h3 {
    margin: 0;
    line-height: 1;
}

.detail__content p {
    color: var(--color-grey);
    font-size: 0.9rem;
}


/* FOOTER */
footer {
    padding: 2rem 0;
}

.footer__content {
    display: grid;
    gap: 5rem;
    grid-template-columns: 2fr 1fr 1fr;
}

.footer__logo {
    width: 100px;
    margin-bottom: 1rem;
}

.footer__text {
    font-size: 0.9rem;
    color: var(--color-grey);
    margin-bottom: 1rem;
}

.footer__newletter {
    position: relative;
}

.footer__newletter input {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: var(--color-white);
    box-shadow: 0 0 10px rgba(80, 80, 80, 0.4);
}

.footer__newletter .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
    color: var(--color-grey);
}

.footer__menu-list li a:hover {
    color: var(--primary-color);
    transition: color 0.3s;
}

.footer__bottom-icons a:hover {
    color: var(--primary-color);
    transition: color 0.3s;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: var(--color-grey);
    margin-top: 3rem;
}

.footer__bottom-icons {
    display: flex;
    gap: 1rem;
}

.instagram {
    color: #E4405F;
}


.facebook {
    color: #1877F2;
}

.github {
    color: #6e6e6e;
}

.linkedin {
    color: #0A66C2;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {

    /* GLOBAL */
    .container {
        padding: 0 1rem;
    }

    section {
        padding-top: 4rem !important;
        padding-bottom: 3rem !important;
    }

    .section-heading {
        font-size: 1.55rem;
    }

    .whatsapp-button {
        position: fixed;
        bottom: 15px;
        right: 15px;
        z-index: 1000;
    }

    /* HEADER */
    .header__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color-white);
        transform: translateX(-100%);
        transition: transform 0.3s;
    }

    .header__menu.show {
        transform: translateX(0);
    }

    .header__menu li {
        margin: 1rem 0;
    }

    .menu-btn {
        display: block;
        z-index: 99;
    }

    /* INICIO */
    #hero {
        flex-direction: column;
        justify-content: center;
    }

    .hero__content {
        width: 100%;
        text-align: center;
    }

    .hero__content h1 {
        font-size: 2.10rem;
    }

    .hero__content p {
        font-size: 16px;
    }

    .hero__content .btn {
        margin: 0 auto;
    }

    .hero__img {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    /* SOBRE */
    .features {
        grid-template-columns: 1fr;
    }

    .feature {
        padding: 2rem;
    }

    .about__details {
        flex-direction: column;
    }

    .about__details-content,
    .about__details-img {
        width: 100%;
    }

    /* CONTATO */
    .contact {
        flex-direction: column;
    }

    .contact__form,
    .contact__details {
        width: 100%;
    }

    .contact h1 {
        font-size: 1rem;
    }

    /* FOOTER */
    .footer__content {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .footer__bottom {
        flex-direction: column;
        text-align: center;
    }
}